html {
    font-family: "Inter";
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 800px;
    height: auto;
    padding: 30px 30px 60px;
    background-color: rgba(3, 3, 84, 0.654);
    border-radius: 20px;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: rgb(255, 243, 209);
}

.container_input {
    display: flex;
    gap: 30px;
}
.box_input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.49);
    padding-left: 16px;
    font-size: 2rem;
    font-weight: 600;
    outline: unset;
}
h2 {
    margin: 0;
    font-size: 32px;
    color: white;
}
.container_button {
    display: flex;
    gap: 20px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: white;
    color: rgba(0, 0, 0, 0.858);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgba(128, 128, 128, 0.49);
    outline: unset;
}
button:hover {
    transform: scale(1.05);
    background-color: rgba(230, 241, 255, 0.9);
}

#result {
    width: 95%;
    height: 100px;
    border-radius: 10px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 16px;
}
